* {
  margin: 0 !important;
  padding: 0 !important;
}

header {
  background: linear-gradient(to right, #8d9ae6, #1425e3);
}

.input-group {
  flex-direction: column;
  width: 40%;
}

.search-div {
  margin: 10px !important;
}

input {
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
}

button,
li {
  width: 100%;
  height: 30px;
  background-color: #ced2e9 !important;
  border-radius: 5px;
  margin: 5px 0 !important;
  text-align: center;
}

.row {
  column-gap: 12px;
  row-gap: 8px;
}

.forecast-cards-div {
  display: flex;
  gap: 16px;
}

.card-body-current {
  border: 1px solid black;
  border-radius: 10px;
}
.card-body {
  background: linear-gradient(#e66465, #9198e5);
  color: white !important;
  border-radius: 10px;
}

p,
h1,
h5 {
  margin-bottom: 5px !important;
  margin-left: 10px !important;
}

h5 {
  margin-top: 5px !important;
}
