* {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h5 {
  margin-top: 5px !important;
}

h2 {
  margin-bottom: 10px !important;
}
header {
  background: linear-gradient(to right, #8d9ae6, #030627);
  margin-bottom: 32px !important;
}

.input-group {
  flex-direction: column;
  width: 40%;
}

.search-div {
  margin: 10px !important;
}

.search-button {
  background: linear-gradient(to top left, #8d9ae6, #030627);
}

input {
  height: 40px;
  border: 1px solid black;
  border-radius: 2px;
}

.search-button {
  background-color: #030627 !important;
  color: white !important;
}
button {
  width: 100%;
  height: 30px;
  padding-top: 2px !important;
  margin: 5px 0 !important;
  text-align: center;
  background-color: rgb(245, 245, 245);
  border-radius: 5px !important;
}

.row {
  column-gap: 22px;
  row-gap: 8px;
}

.forecast-cards-div {
  display: flex;
  gap: 16px;
}

.card-body {
  background: linear-gradient(#e66465, #9198e5);
  color: white !important;
  border-radius: 2px;
  padding-left: 10px !important;
  padding-bottom: 10px !important;
}

.card-body-current {
  background: linear-gradient(to right, white, whitesmoke);
  padding-left: 10px !important;
  padding-bottom: 10px !important;
  border: 1px solid black;
  border-radius: 2px;
}
